apiVersion: v1
kind: Secret
metadata:
  name: homelab-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  password: {{ githubtoken }}
  type: git
  url: {{ gitrepourl }}
  username: {{ gitrepouser }}